backend/src/main/resources/Weather.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				  xmlns:tns="http://www.example.org/Weather/" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  name="Weather" targetNamespace="http://www.example.org/Weather/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Weather/">
    
      <xsd:element name="GetWeather">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cityName" type="xsd:string"/>
            <xsd:element name="correlationId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GetWeatherResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="temp" type="xsd:double"/>
            <xsd:element name="desc" type="xsd:string"/>
            <xsd:element name="correlationId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GetWeatherFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="desc" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="GetWeatherMessage">
    <wsdl:part element="tns:GetWeather" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetWeatherResponseMessage">
    <wsdl:part element="tns:GetWeatherResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="GetWeatherFaultMessage">
    <wsdl:part element="tns:GetWeatherFault" name="error"/>
  </wsdl:message>
  
  <wsdl:portType name="Weather">
    <wsdl:operation name="GetWeatherOperation">
      <wsdl:input message="tns:GetWeatherMessage"/>
      <wsdl:output message="tns:GetWeatherResponseMessage"/>
      <wsdl:fault name="InputFault" message="tns:GetWeatherFaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="WeatherSOAP" type="tns:Weather">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetWeatherOperation">
      <soap:operation soapAction="http://www.example.org/Weather/GetWeatherOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Weather">
    <wsdl:port binding="tns:WeatherSOAP" name="WeatherSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
